/* ESTILOS GENERALES */





body {
    background-color:#000;

}


#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
    background-size: cover;
    background-position:center;
	margin-left: auto; 
	margin-right: auto;
    margin-top: 50px;
    padding: 10px 20px;
    position: relative;
    z-index: 99;
    opacity: .85;
}

.contenedor.header {
    height: calc(100vh - 55px);
    border: px solid ;
    color:white;
}

.barra-navegacion ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion li {
    list-style: none;
    display: inline-block;
}

.barra-navegacion .logo { 
    color:#010c01;
    font-size: 50px;
}

.barra-navegacion a{
    text-decoration: none;
    color:  #97ce4c;
     font-size: 2rem;
     font-family: 'lato',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: .5s ease;
}


    


.barra-navegacion a:hover {
    color: #97ce4c ;
    border-bottom: 3px solid currentcolor;
    
}

.contenido-descripcion {
    width: 50%;
    display: flex;
    height: 50%;
    align-items: center;
   
}

.contenido-descripcion .titulo {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.contenido-descripcion .titulo span:first-child {
    font-size: 30px; 
    display: block;
    font-weight: 300px;
}

.contenido-descripcion .titulo span:last-child {
    font-weight: bold;
    font-size: 80px;
}




.contenido-descripcion .btn-link:hover {
    border: 5px solid #97ce4c;
    animation: none;
}

.welcome{
    margin-bottom: 90px;
}
